.switch[data-ison="true"] {
  justify-content: flex-end;
}

.handle-rev[data-isOn="true"] {
  justify-content: flex-end;
  background: red;
}
.cfont {
    font-family: "Briem Hand", cursive;
}
.text-shadow{
  text-shadow: 0px 0px 12px white;
}
  
.custom-blur{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.bfont {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.bg{
  background-color: 	#e9e5e5;
}
.bg-1{
  background-color: 	#978073;
}
.bg-2{
  background-color: 	#d1c5c5;
}
.bg-3{
  background-color: 	#706a62;
}
.bg-4{
  background-color: 	#999999;
}
